<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <section>
        <h2>Log in</h2>
        <a class="button" href="<%= authLink %>">Login via Microsoft</a>
    </section>
</body>
</html>